name: gex

on: push

jobs:
  check_cpu:
    runs-on: depot-ubuntu-24.04-32
    strategy:
      matrix:
        instance: [1, 2]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y wget curl python3
        curl ipinfo.io

    
